@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
}

html,
body {
    height: 100%;
    background-color: #f0f0f0;

}

body {
    width: 100%;
    font-family: $Poppins;
    color: $dark;
    display: block;
    font-family: 'Inter Tight', sans-serif;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin-bottom: 50px;

}

// #root {
//     height: 100%;
// }