.galleryItem {
  margin-top: 10px;
  position: relative;
  overflow: hidden;

}

.gallery {
  max-width: 800px;
  width: 100%;
}

.thumbnail {

  width: 100%;
  height: 100%;
  max-width: 800px;
  min-width: max-content;
}

.thumbnail img {
  min-width: 300px;
}

.fullImage {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}